# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Flask
flask_session/
instance/

# Database
notice.db
database/notice.db

# Environment
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/